.section {
    padding-top: 94px;
    padding-bottom: 94px;

    &__title {
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        color: var(--title-color);
        margin-bottom: 50px;
    }
}

.advantages-section {
    padding-bottom: 47px;
}

.tipeofwork-section {
    padding-top: 47px;
}

.team-section {
    background-color: var(--team-color);
}
